body{
    background-image: url("resources/sportmaster-tennisnyi-miach-5.webp");
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
}

.block-with-button{
    height: 60%;
    border-width: 50px;
}
.button-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box; /* Включаем размер границы в общий размер элемента */
}
button {
    font-size: 1.5rem; /* Размер шрифта */
    padding: 2rem 3rem;
    border: none;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.bt {
    font-family: "Open Sans", sans-serif;
}
.top-block {
    height: 20%;
    display: flex;
    align-items: center;
    width: 100%;
}


.block-footer {
    align-items: center;
    width: 15%;
    border-width: 2px;
    box-sizing: border-box;
    margin-left: 20px;
}

.top-block-with-title {
    margin: 0px auto;
}
.project-title {
    text-align: center;
    font-size: 2rem; /* Размер шрифта */
    color: #adfc03; /* Цвет шрифта */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень для глубины */
}