body {
    background-image: url("resources/sportmaster-tennisnyi-miach-5.webp");
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #73fc03;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень для глубины */

    font-size: 1.2rem;
    padding: 10px;
    transition: background-color 0.4s ease;
}

nav a:hover {
    font-weight: bold;
    background-color: rgba(173, 252, 3, 0.2);
}

main {
    height: 65%;
    box-sizing: border-box;
}

.match-table {
    text-align: center;
    margin: 60px auto;
    width: 500px; /* Adjust table width as needed */
    background-color: rgba(255, 255, 255, 0.3); /* Полупрозрачный фон */

}

.match-table table {
    width: 100%;
    border-collapse: collapse;
}

.match-table th, .match-table td {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 2px solid black; /* Увеличиваем толщину границ и устанавливаем черный цвет */
}

.score {
    font-size: 24px; /* Adjust score font size as needed */
}

.score-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.add-point-player1, .add-point-player2 {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

footer {
    height: 15%;
    box-sizing: border-box;
}

.footer-links {
    margin-left: 15px;
    display: flex;
    justify-content: flex-start; /* Ссылки выравниваются влево */
}

.footer-links a {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
